.header {
    background-color: #F1F1F1;
    color: #545454; 
    text-align: left;
    padding: 20px;
  }
.jumbotron {
    background-color: #F1F1F1;
    color: #545454
  }
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #ffde59; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #2caead; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; 
    color: #545454;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #ffffff
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .box {
    height: 400px;
    padding: 20px;
    color: #fff;
  }
